
<div  class="container">
<ul>
  <li>
  <!-- <li *ngIf="voiture.idVoiture">       -->
   <!--  <div>
      <img [src]="voiture.imageUrl" [alt]="voiture.nomVoiture">
    </div>
    <div>
      <a routerLink="{{voiture.nomVoiture}}">
        {{voiture.nomVoiture}}
      </a>
    </div>
    <div>
      {{voiture.prixVoiture | currency}}
    </div> -->
      <div>
        <button class="remove-button" >
          Remove
        </button>
      </div>
    </li>
</ul>
  <div class="checkout">
    <div>
      <div class="foods-count"></div>
      <div class="total-price"></div>
    </div>

  </div>
